body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: small;
	margin: 0 auto;
	width: 80%;
}

header.top {
	background-color: #b4b4b4;
	height: 110px;
	margin: 10px 10px 0px 10px;
	padding: 5px 5px 5px 5px;
	overflow: hidden;
}

#himg {
	display: block;
	position: relative;
	top: 15px;
}

#header-right {
	float: right;
}

a.usr:link, a.usr:visited {
	text-decoration:  none;
	background-color: #008080;
	color: #b4b4b4;
	font-weight: bold;
	padding: 10px 10px;
	text-align: center;
}

#main {
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	font-size: 110%;
}

footer {
	text-align: center;
	font-size: 85%;
	padding: 30px;
	margin: 10px 10px 10px 10px;
}

/**********************************************************************************************************/
@media screen and (max-width: 560px) {
	body{
		width: 95%;
	}
}