input[type=submit] {
	text-decoration:  none;
	background-color: #008080;
	color: #b4b4b4;
	font-weight: bold;
	padding: 10px 10px;
	border: none;
}

input[type=reset] {
	text-decoration:  none;
	background-color: #b4b4b4;
	color: #008080;
	font-weight: bold;
	padding: 10px 10px;
	border: none;
}

h3 {
	margin-top: 30px;
}

#back {
	color: #008080;
	font-weight: bold;
}

#recensioni {
	width: 100%;
	margin: 30px 0px 20px 0px;
	font-size: 120%;
	margin-bottom: 40px;
}

#recensioni h2 {
	color: #008080;
}

table {
	margin: 0 auto;
	width: 50%;
}

table, th, td {
	text-align: center;
	border: 2px solid #b4b4b4;
	border-collapse: collapse;
}

th, td {
	padding: 4px;
}